@import "Style/base";
@import "~font-awesome/css/font-awesome.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eef1f6 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 14px;
}

.comment-container {
  max-width: 700px;
  background-color: rgb(228, 228, 228);
  margin: 20px auto;
  padding: 10px;
}

.comment-container h4 {
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 5px 20px;
}

.comment-box {
  padding: 10px 20px;
  margin: 12px 20px;
  background-color: #fff;
  display: flex;
}

.comment-box .image {
  height: 50px;
  width: 50px;
}

.comment-box .response {
  display: flex;
  align-items: start;
  justify-content: start;
}

.comment-box .response i {
  color: red;
  font-size: 20px;
  padding-right: 4px;
}

.comment-box .response .dot {
  height: 4px;
  width: 4px;
  border-radius: 5px;
  background-color: black;
  margin-top: 12px;
}

input {
  width: 100% !important;
  background-color: rgb(240, 239, 239);
  outline: none;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
}

.comment {
  position: relative;
  width: 100%;
}

.comment span {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(90, 90, 232);
}


.box {
  position: relative;
  padding: 17px 15px 17px 85px;
  background: #fff;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.3);

  .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;


    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.actionList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;

  li {
    position: relative;
    padding: 0 0 0 20px;

    &:first-child {
      padding: 0;

      &:before {
        display: none;
      }
    }

    &:before {
      position: absolute;
      content: '';
      width: 4px;
      height: 4px;
      left: 8px;
      top: 9px;
      display: block;
      border-radius: 50%;
      background: #636363;
    }
  }

  button {
    border: none;
    background: none;
    color: #8ca1ec;
    font-size: 13px;
  }
}

.textarea-comment {
  background-color: #fff;
  padding: 20px;

  .textarea {
    background-color: #F8F9FB !important;
    border: transparent;
    margin-left: 76px;
  }
}


.comment-section {
  .btn-comment {
    position: absolute;
    right: 35px;
    border: transparent;
    background: transparent;
    top: 26px;

  }
}